{% extends "./master_page.html" %}
{% load crispy_forms_tags %}

{% block content %}
        <h1> Edit record {{event_artist.id}} </h1>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}

                <input type="submit" class="btn btn-primary"></input>
                <button type="button" class="btn btn-danger">Cancel</button>
            </form>
        </div>
        <a href="{% url "add_event_artist_page" %}">Back to Add Event Artist</a>
{% endblock content %}