{% extends "./master_page.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 style="color: blue">Ticket System</h1>

    <p style="color: black"> 
        Get ready for the ultimate event experience! Our ticket system website is your one-stop 
        destination for the hottest concerts, thrilling sports games, and unforgettable festivals. 
        Browse our extensive lineup of upcoming events, 
        discover new artists and venues, and secure your spot at the most epic gatherings of the 
        year. With easy ticket purchasing, exclusive offers, and top-notch customer support, we've
        got you covered every step of the way. Join the excitement and start exploring our events 
        today!
    </p>

    <h2 style="color:blue;">Our Services</h2>
    <ul>
        <li class="unordered-list">Event Ticketing: Browse and purchase tickets for concerts, sports games, festivals, and more.</li>
        <li class="unordered-list">Event Discovery: Discover new events, artists, and venues in your area or beyond.</li>
        <li class="unordered-list">Customer Support: Get assistance with ticket purchases, event information, and more.</li>
        <li class="unordered-list">Exclusive Offers: Enjoy special deals, discounts, and VIP packages for select events.</li>
        <li class="unordered-list">Secure Payments: Make safe and secure payments with our trusted payment processing system.</li>
        <li class="unordered-list">Personalized Recommendations: Get event suggestions based on your interests and past purchases.</li>
    </ul>

{% endblock content %}
